<div class="container">
  <div class="rwo">
    <div class="col-md-12">
      <div class="text-center">
        <p class="fs-5">Thank You for Visiting Our website </p>
        <p class="text-success fs-5">Your Appointment Is done</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class=" text-center">
        <h6 class="h2">Date</h6>
        <p>2024-03-26</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="text-center">
        <h6 class="h2">Time</h6>
        <p>09:00</p>
      </div>
    </div>

  </div>
</div>