<div class="w-75 mx-auto py-4">
    <div class="container mt-5 p-5">
        <div class="card shadow">
            <div class="mt-5 bg-white text-center" style="color: #1A998E;">
                <p class="h1"> Doctor Registration </p>
                <div *ngIf="apiError.length > 0" class="text-danger mt-3">
                    {{apiError}}
                </div>
                <div *ngIf="showAlert" class="alert alert-success container ml-5 w-75" role="alert">
                    Sign Up is Successfully.
                </div>
            </div>

            <div class="card-body">

                <form (ngSubmit)="handleAdd(createForm)" class="m-3 row" [formGroup]="createForm">
                    <div class="col-md-1"></div>

                    <!-- ----------------------- **** Section 1 ***** ----------------------- -->

                    <div class="col-md-5">

                        <!-- ----------------------- Name ----------------------- -->
                        <div class="mb-3">

                            <label for="Name" class="mb-2">Name</label>
                            <input type="text" formControlName="Name" id="Name" class="form-control" />
                            <div *ngIf="createForm.get('Name')?.errors && createForm.get('Name')?.touched"
                                class="text-danger m-1 sm">
                                <p *ngIf="createForm.get('Name')?.getError('minlength')" class="m-0">Minimum length is 3
                                </p>
                                <p *ngIf="createForm.get('Name')?.getError('pattern')" class="m-0">Enter Characters Only
                                </p>
                                <p *ngIf="createForm.get('Name')?.getError('required')" class="m-0">Name is Required</p>
                            </div>
                        </div>
                        <!-- ----------------------- Email ----------------------- -->
                        <div class="mb-3">
                            <label for="Email" class="mb-2">Email</label>
                            <input type="Email" formControlName="Email" id="Email" class="form-control" />

                            <div *ngIf="createForm.get('Email')?.errors && createForm.get('Email')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('Email')?.getError('pattern')" class="m-0">Email is InValid
                                    should be(Email@gmail.com)</p>
                                <p *ngIf="createForm.get('Email')?.getError('required')" class="m-0">Email is Required
                                </p>
                            </div>
                        </div>



                        <!-- ----------------------- Password ----------------------- -->

                        <div class="mb-3">
                            <label for="password" class="mb-2">Password</label>
                            <div class="input-group">
                                <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"
                                    id="password" class="form-control" />
                                <span class="input-group-text" (click)="togglePasswordVisibility('password')">
                                    <i class="{{ showPassword ? 'far fa-eye' : 'far fa-eye-slash' }} text-main"></i>
                                </span>
                            </div>

                            <div *ngIf="createForm.get('password')?.errors && createForm.get('password')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('password')?.getError('required')" class="m-0">Password is
                                    Required</p>
                                <p *ngIf="createForm.get('password')?.getError('pattern')" class="m-0">Password is
                                    Invalid:
                                <ul class="m-0">
                                    <li>At least one lowercase letter (a-z)</li>
                                    <li>At least one uppercase letter (A-Z)</li>
                                    <li>At least one digit (0-9)</li>
                                    <li>At least one special character (!@#$%&*()_+)</li>
                                    <li>At least 8 characters long</li>
                                    <li>Cannot contain spaces</li>
                                </ul>
                            </div>

                        </div>


                        <!-- -----------------------Confirm Password ----------------------- -->

                        <div class="form-group mb-3">
                            <label for="confirmPassword" class="mb-2">Confirm Password</label>
                            <div class="input-group">
                                <input type="{{ showConfirmPassword ? 'text' : 'password' }}"
                                    formControlName="confirmPassword" class="form-control" />
                                <span class="input-group-text" (click)="togglePasswordVisibility('confirmPassword')">
                                    <i
                                        class="{{ showConfirmPassword ? 'far fa-eye' : 'far fa-eye-slash' }} text-main"></i>
                                </span>
                            </div>

                            <div *ngIf="createForm.get('confirmPassword')?.errors && createForm.get('confirmPassword')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('confirmPassword')?.getError('required')" class="m-0">Confirm
                                    Password is required</p>
                                <p *ngIf="createForm.get('confirmPassword')?.getError('passwordMismatch')" class="m-0">
                                    Passwords do not match</p>
                            </div>
                        </div>
                        <!-- ----------------------- National ID ----------------------- -->
                        <div class="mb-3">
                            <label for="NationalID" class="mb-2">National ID</label>
                            <input type="text" formControlName="NationalID" id="NationalID" class="form-control"
                                maxlength="14" (input)="enforceMinMaxNationalID($event)" />

                            <div *ngIf="createForm.get('NationalID')?.errors && createForm.get('NationalID')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('NationalID')?.getError('pattern')" class="m-0">National ID
                                    must be 14 numbers And Don't Accept characters</p>
                                <p *ngIf="createForm.get('NationalID')?.getError('required')" class="m-0">National ID is
                                    Required</p>
                            </div>
                        </div>

                        <!-- ----------------------- Speciality  ----------------------- -->
                        <div class="mb-3">
                            <label for="SpecialityID " class="mb-2">Speciality </label>

                            <select formControlName="SpecialityID" class="form-select form-select-md mb-3">

                                <option *ngFor="let speciality of specialities" [value]="speciality.id ">{{
                                    speciality.name }}
                                </option>

                            </select>

                            <div *ngIf="createForm.get('SpecialityID')?.errors && createForm.get('SpecialityID')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('SpecialityID')?.getError('required')" class="m-0">speciality
                                    is Required</p>
                            </div>
                        </div>

                        <!-- ----------------------- Description  ----------------------- -->
                        <div class="mb-3">
                            <label for="Description" class="mb-2">Description</label>
                            <input type="text" formControlName="Description" id="Description" class="form-control" />

                            <div *ngIf="createForm.get('Description')?.errors && createForm.get('Description')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('Description')?.getError('pattern')" class="m-0">Description
                                    must be 11 digits
                                    and must start
                                    with 010 or 011 or 012 or 015</p>
                                <p *ngIf="createForm.get('Description')?.getError('required')" class="m-0">Description
                                    is Required</p>
                            </div>
                        </div>


                        <!-- ----------------------- Date Of Birth ----------------------- -->
                        <div class="mb-3">
                            <label for="DOB" class="mb-2">Date Of Birth</label>
                            <input type="date" formControlName="DOB" id="DOB" class="form-control" [min]="this.dateMin"
                                [max]="this.dateMax" />

                            <div *ngIf="createForm.get('DOB')?.errors && createForm.get('DOB')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('DOB')?.getError('min')" class="m-0">Can't Enter date less than
                                    {{dateMin}}</p>
                                <p *ngIf="createForm.get('DOB')?.getError('max')" class="m-0">Can't Enter date more than
                                    {{dateMax}}</p>
                                <p *ngIf="createForm.get('DOB')?.getError('required')" class="m-0">date Of Birth is
                                    Required</p>
                            </div>
                        </div>

                        <!-- ----------------------- Gender  ----------------------- -->
                        <div class="mb-3">
                            <label for="Gender " class="mb-2">Gender</label>
                            <select formControlName="Gender" class="form-select form-select-md mb-3"
                                aria-label=".form-select-lg example">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                                <option value="2">Prefer Not To Say</option>
                            </select>

                            <div *ngIf="createForm.get('Gender')?.errors && createForm.get('Gender')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('Gender')?.getError('required')" class="m-0">Gender is Required
                                </p>
                            </div>
                        </div>

                        <!-- ----------------------- Appointment Price  ----------------------- -->
                        <div class="mb-3">
                            <label for="AppointmentPrice" class="mb-2">Appointment Price </label>
                            <input type="number" formControlName="AppointmentPrice" id="AppointmentPrice"
                                class="form-control" />

                            <div *ngIf="createForm.get('AppointmentPrice')?.errors && createForm.get('AppointmentPrice')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('AppointmentPrice')?.getError('min')" class="m-0">Appointment
                                    Price Can't be less than 100</p>
                                <p *ngIf="createForm.get('AppointmentPrice')?.getError('max')" class="m-0">Appointment
                                    Price Can't be more than 5000</p>
                                <p *ngIf="createForm.get('AppointmentPrice')?.getError('required')" class="m-0">
                                    Appointment Price is Required</p>
                            </div>
                        </div>

                    </div>

                    <!-- ----------------------- **** Section 2 ***** ----------------------- -->

                    <div class="col-md-5">

                        <!-- ----------------------- Image ----------------------- -->

                        <div style="height: 475px;">
                            <div class="mb-5 ">
                                <div class="image-section">
                                    <img src="assets/signup/amico.png" alt="Login Image"
                                        class="w-80 img-fluid float-end">
                                </div>
                            </div>

                        </div>


                        <!-- ----------------------- Governorate  ----------------------- -->
                        <div class="mt-5 mb-3">
                            <label for="Governance" class="mb-2">Governate </label>
                            <select type="text" formControlName="Governance" class="form-control">
                                <ng-container *ngFor="let gov of egyptGovernorates">
                                    <option [value]="gov" readonly>{{gov}}</option>
                                </ng-container>
                            </select>

                            <div *ngIf="createForm.get('Governance')?.errors && createForm.get('Governance')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('Governance')?.getError('required')" class="m-0">Governance is
                                    Required</p>
                            </div>
                        </div>

                        <!-- ----------------------- Address ----------------------- -->
                        <div class="mb-3">
                            <label for="Address" class="mb-2">Address</label>
                            <input type="text" formControlName="Address" id="Address" class="form-control" />

                            <div *ngIf="createForm.get('Address')?.errors && createForm.get('Address')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('Address')?.getError('required')" class="m-0">Address is
                                    Required</p>
                            </div>
                        </div>

                        <!-- ----------------------- Phone  ----------------------- -->
                        <div class="mb-3">
                            <label for="Phone" class="mb-2">Phone</label>
                            <input type="tel" formControlName="Phone" id="Phone" class="form-control"
                                (input)="enforceMinMaxPhone($event)" />

                            <div *ngIf="createForm.get('Phone')?.errors && createForm.get('Phone')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="createForm.get('Phone')?.getError('pattern')" class="m-0">Phone must be 11
                                    digits and must start
                                    with 010 or 011 or 012 or 015</p>
                                <p *ngIf="createForm.get('Phone')?.getError('required')" class="m-0">Phone is Required
                                </p>
                            </div>
                        </div>


                        <!-- ----------------------- Sign Up Button ----------------------- -->

                        <div class=" mt-5">
                            <div class="text-end">
                                <button type="submit" class="btn btn-send w-50">Sign Up</button>
                            </div>
                        </div>
                        <!-- ----------------------- Create Account Link ----------------------- -->

                        <div class="mt-4 text-end">
                            <span class="txt1">Login</span>
                            <a class="txt2" routerLink="/signin"> Already have an Account
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-1"></div>

                </form>
            </div>
        </div>
    </div>
</div>