<div class="w-75 mx-auto py-4">
    <div class="container mt-5 p-5">
      <div class="card shadow">
        <div class="card-header">
          <h2>Edit Patient
            <a routerLink="/patient/profile" class="btn btn-outline-primary float-end">Back</a>
        </h2>
        </div>
  
        <div class="card-body">
          <!-- (ngSubmit)="handleEdit()" -->
          <form  class="m-3 row" [formGroup]="editForm">
  
            <!-- <label>ID</label>
            <input type="number" formControlName="id" id="id" class="form-control"> -->
  
            <!-- ----------------------- Name ----------------------- -->
            <div class="mb-3">
  
              <label for="name" class="mb-2">Name</label>
              <input type="text" formControlName="name" id="name" class="form-control" />
              <div *ngIf="editForm.get('name')?.errors && editForm.get('name')?.touched" class="text-danger m-1 sm">
                <p *ngIf="editForm.get('name')?.getError('minlength')" class="m-0">Name minimum lenth is 3</p>
                <p *ngIf="editForm.get('name')?.getError('pattern')" class="m-0">Enter Characters Only</p>
                <p *ngIf="editForm.get('name')?.getError('required')" class="m-0">Name is Required</p>
              </div>
            </div>
  
            <!-- ----------------------- Email ----------------------- -->
            <div class="mb-3">
              <label for="email" class="mb-2">Email</label>
              <input type="email" formControlName="email" id="email" class="form-control" [readOnly]="true"/>
  
              <div *ngIf="editForm.get('email')?.errors && editForm.get('email')?.touched" class="text-danger m-1">
                <p *ngIf="editForm.get('email')?.getError('pattern')" class="m-0">Email is InValid should be
                  (email@gmail.com)</p>
                <p *ngIf="editForm.get('email')?.getError('required')" class="m-0">Email is Required</p>
              </div>
            </div>
  
  
            <!-- ----------------------- Password ----------------------- -->
            <!-- <div class="mb-3">
              <label for="password" class="mb-2">Password</label>
              <input type="password" formControlName="password" id="password" class="form-control" />
  
              <div *ngIf="editForm.get('password')?.errors && editForm.get('password')?.touched"
                class="text-danger m-1">
                <p *ngIf="editForm.get('password')?.getError('minlength')" class="m-0">Password Can't be less than 6
                  digitis</p>
                <p *ngIf="editForm.get('password')?.getError('required')" class="m-0">Password is Required</p>
              </div>
            </div> -->
  
            <!-- -----------------------Confirm Password ----------------------- -->
            <!-- <div class="mb-3">
              <label for="confirmPassword" class="mb-2">Confirm Password</label>
              <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" />
  
              <div *ngIf="editForm.get('confirmPassword')?.errors && editForm.get('confirmPassword')?.touched"
                class="text-danger m-1">
                <p *ngIf="editForm.get('confirmPassword')?.getError('minlength')" class="m-0">Password Can't be less than 6
                  digitis</p>
                <p *ngIf="editForm.get('confirmPassword')?.getError('required')" class="m-0">Password is Required</p>
              </div>
            </div> -->
  
              <!-- ----------------------- Date Of Birth ----------------------- -->
          <div class="mb-3">
            <label for="dob" class="mb-2">Date Of Birth</label>
            <input type="date" formControlName="dob" id="dob" class="form-control" [min]="dateMin" [max]="dateMax" />

            <div *ngIf="editForm.get('dob')?.errors && editForm.get('dob')?.touched"
              class="text-danger m-1">
              <p *ngIf="editForm.get('dob')?.getError('min')" class="m-0">Can't Enter date less than 1964</p>
              <p *ngIf="editForm.get('dob')?.getError('max')" class="m-0">Can't Enter date more than 1999</p>
              <p *ngIf="editForm.get('dob')?.getError('required')" class="m-0">date Of Birth is Required</p>
            </div>
          </div>
  
              <!-- ----------------------- Phone  ----------------------- -->
              <div class="mb-3">
                <label for="phone" class="mb-2">Phone</label>
                <input type="tel" formControlName="phone" id="phone" class="form-control" (input)="enforceMinMaxPhone($event)"/>
  
                <div *ngIf="editForm.get('phone')?.errors && editForm.get('phone')?.touched" class="text-danger m-1">
                  <p *ngIf="editForm.get('phone')?.getError('pattern')" class="m-0">Phone must be 11 digits and must start
                    with 010 or 011 or 012 or 015</p>
                  <p *ngIf="editForm.get('phone')?.getError('required')" class="m-0">Phone is Required</p>
                </div>
              </div>
  
           <!-- ----------------------- Gender  ----------------------- -->
           <div class="mb-3">
            <label for="gender " class="mb-2" >Gender</label>
            <select formControlName="gender" class="form-select form-select-md mb-3"
              aria-label=".form-select-lg example">
              <option value="0">Male</option>
              <option value="1">Female</option>
              <option value="2">Prefer Not To Say</option>
            </select>
  
            <div *ngIf="editForm.get('gender')?.errors && editForm.get('gender')?.touched" class="text-danger m-1">
              <p *ngIf="editForm.get('gender')?.getError('required')" class="m-0">Gender is Required</p>
            </div>
          </div>
  
  
                    <div class="text-end">
                      <button type="submit" (click)="handleEdit()" class="btn btn-outline-success w-25">Edit patient</button>
                    </div>
                </form>
  
  
            </div>
  
            <br>
  
            <div>
  
            </div>
        </div>
  
        <div class="col-md-1"></div>
    </div>
  </div>
  



