<div class="w-75 mx-auto py-4">
    <div class="container mt-5 p-5">
        <div class="card shadow">
            <div class="mt-5 bg-white text-center" style="color: #1A998E;">
                <p class="h1"> Change your Password </p>
                <div *ngIf="apiError.length > 0" class="text-danger mt-3">
                    {{apiError}}
                </div>
                <div *ngIf="showAlert" class="alert alert-success container ml-5 w-75" role="alert">
                    Password is Changes Successfully.
                </div>
            </div>

            <div class="card-body">
                <!-- (ngSubmit)="handleSignIn(changeForm)" -->
                <form (submit)="handleChangePass()" class="m-3 row" [formGroup]="changeForm">
                    <div class="col-md-1"></div>



                    <!-- ----------------------- ** Section 1 *** ----------------------- -->

                    <div class="col-md-5 mt-5">

                        <!-- ----------------------- Password ----------------------- -->

                        <div class="mb-3">
                            <label for="password" class="mb-2">Old Password</label>
                            <div class="input-group">
                                <input type="{{ showOldPassword ? 'text' : 'password' }}" formControlName="password"
                                    id="password" class="form-control" />
                                <span class="input-group-text" (click)="togglePasswordVisibility('oldPassword')">
                                    <i class="{{ showOldPassword ? 'far fa-eye' : 'far fa-eye-slash' }} text-main"></i>
                                </span>
                            </div>

                            <div *ngIf="changeForm.get('password')?.errors && changeForm.get('password')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="changeForm.get('password')?.getError('minlength')" class="m-0">Password is
                                    Invalid</p>
                                <p *ngIf="changeForm.get('password')?.getError('required')" class="m-0">Password is
                                    Required</p>
                            </div>
                        </div>

                        <!-- ----------------------- New Password ----------------------- -->

                        <div class="mb-3">
                            <label for="newPassword" class="mb-2">New Password</label>
                            <div class="input-group">
                                <input type="{{ showNewPassword ? 'text' : 'password' }}" formControlName="newPassword"
                                    id="newPassword" class="form-control" />
                                <span class="input-group-text" (click)="togglePasswordVisibility('newPassword')">
                                    <i class="{{ showNewPassword ? 'far fa-eye' : 'far fa-eye-slash' }} text-main"></i>
                                </span>
                            </div>

                            <div *ngIf="changeForm.get('newPassword')?.errors && changeForm.get('newPassword')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="changeForm.get('newPassword')?.getError('minlength')" class="m-0">Password is
                                    Invalid</p>
                                <p *ngIf="changeForm.get('newPassword')?.getError('required')" class="m-0">Password is
                                    Required</p>
                                <p *ngIf="changeForm.get('newPassword')?.getError('pattern')" class="m-0">Password is
                                    Invalid:
                                <ul class="m-0">
                                    <li>At least one lowercase letter (a-z)</li>
                                    <li>At least one uppercase letter (A-Z)</li>
                                    <li>At least one digit (0-9)</li>
                                    <li>At least one special character (!@#$%&*()_+)</li>
                                    <li>At least 8 characters long</li>
                                    <li>Cannot contain spaces</li>
                                </ul>
                            </div>
                        </div>

                        <!-- -----------------------Confirm Password ----------------------- -->

                        <!-- <div class="form-group mb-3">
                            <label for="confirmPassword" class="mb-2">Confirm Password</label>
                            <div class="input-group">
                                <input type="{{ showConfirmPassword ? 'text' : 'password' }}"
                                    formControlName="confirmPassword" id="confirmPassword" class="form-control" />
                                <span class="input-group-text" (click)="togglePasswordVisibility('confirmPassword')">
                                    <i
                                        class="{{ showConfirmPassword ? 'far fa-eye' : 'far fa-eye-slash' }} text-main"></i>
                                </span>
                            </div>

                            <div *ngIf="changeForm.get('confirmPassword')?.errors && changeForm.get('confirmPassword')?.touched"
                                class="text-danger m-1">
                                <p *ngIf="changeForm.get('confirmPassword')?.getError('required')" class="m-0">Confirm
                                    Password is required</p>
                                <p *ngIf="changeForm.get('confirmPassword')?.getError('passwordMismatch')" class="m-0">
                                    Passwords do not match</p>
                            </div>
                        </div> -->

                        <!-- ----------------------- Sign In Button ----------------------- -->

                        <div class="text-start m-3">
                            <button type="submit" class="btn btn-info btn-send mt-3 w-50">


                                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>

                                <span *ngIf="!isLoading">Save Change</span>

                            </button>
                        </div>


                    </div>


                    <!-- ----------------------- ** Section 2 *** ----------------------- -->

                    <div class="col-md-5">

                        <!-- ----------------------- Image ----------------------- -->

                        <div class=" m-3 mb-5">
                            <div class="image-section">
                                <img src="assets/password.jpg" alt="password Image" class="w-80 img-fluid float-end">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>

                </form>


            </div>
        </div>
    </div>
</div>