<div class="container" *ngIf="cert != true || nid != true">
    <div class="row">
        <div class="col-md-6 col-12 mb-5">
            <h1>Please upload your photo holding a nationalID</h1>
            <div class="imgcontainer">
                <button (click)="uploadEvent()" *ngIf="!nid" class="btn btn-success uploadBtn"><i
                        class="bi bi-upload"></i></button>
                <input (input)="uploadPicture($event)" class="d-none" type="file" #file>
                <img [src]="nidDoc ? '../../../../..'+nidDoc.path.split('/src')[1] : ''" alt="" class="imgcontainer"
                    [ngClass]="{
                    'd-none': !nid,
                }">
            </div>

        </div>
        <div class="col-md-6 col-12">
            <h1>Please upload your certificate</h1>
            <div class="imgcontainer">
                <button (click)="uploadCertEvent()" *ngIf="!cert" class="btn btn-success uploadBtn"><i
                        class="bi bi-upload"></i></button>
                <input (input)="uploadCert($event)" class="d-none" type="file" #certAdd>
                <img [src]="certificates ? '../../../../..'+certificates[0].path.split('/src')[1] : ''" alt=""
                    class="imgcontainer" [ngClass]="{
                    'd-none': !cert,
                }">
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="cert == true && nid == true">

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto " src="assets/waiting.jpg" alt="" width="300" height="200" />

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Please await admin response ....</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-send btn-lg px-3 gap-2 custom-btn" [routerLink]="['/']"> Back to
                    home </button>

            </div>
        </div>
    </div>

</div>