<div class="px-4 py-5 my-5 text-center">
    <img
      class="d-block mx-auto "
      src="assets/rejected.jpg"
      alt=""
      width="300"
      height="200"
    />
    <br>
   
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Your request is rejected contact us if you have any quesstion</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
        type="button"
        class="btn btn-danger btn-lg px-3 gap-2 custom-btn"
        [routerLink]="['/contact']"> Contact Us</button>
    
      </div>
    </div>
  </div>
