<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto " src="assets/Banned.jpg" alt="" width="300" height="200" />
    <br>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Your Account has been banned contact us if you have any question</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="btn btn-lg px-3 gap-2 custom-btn" [routerLink]="['/contact']"
                style="background-color: #f50401; border-color: #f50401;">Contact Us</button>
        </div>
    </div>
</div>