<header class="secondHome" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}">
    <div class="container py-3">
        <div class="row py-5">
            <div class="col-lg-6">
                <div class="mt-5">
                    <p class="h1">Welcome to our website!</p>
                    <p class="h6">At TABEBK , we're dedicated to simplifying your healthcare experience.</p>
                    <p class="h6"> Just like Vezeeta, we strive to connect you with trusted healthcare professionals and
                        facilitate seamless appointments.
                    </p>
                    <p class="h6"> Whether you're looking for a doctor's appointment, seeking specialist care, or
                        scheduling a
                        check-up, we've got you covered.
                    </p>
                    <p class="h6"> Our user-friendly platform is designed to make booking appointments effortless,
                        saving you
                        time and hassle. Explore our services today and take the first step towards prioritizing your
                        health with
                        ease.
                    </p>
                    <p class="h6">At TABEBK , we're dedicated to simplifying your healthcare experience.</p>
                    <p class="h6"> Just like Vezeeta, we strive to connect you with trusted healthcare professionals and
                        facilitate seamless appointments.
                    </p>
                    <p class="h6"> Whether you're looking for a doctor's appointment, seeking specialist care, or
                        scheduling a
                        check-up, we've got you covered.
                    </p>
                    <p class="h6"> Our user-friendly platform is designed to make booking appointments effortless,
                        saving you
                        time and hassle. Explore our services today and take the first step towards prioritizing your
                        health with
                        ease.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="w-100 my-2 py-3 img-home " src="assets/doctor/cuate.png" alt="PicOfHome">
            </div>
        </div>
    </div>
</header>